################################################################################
# this an example of the .env file to be used for the infrastructure, it should 
# be copied and renamed to .env and the values should be updated with the actual 
# credentials and connection details for the services used in the infrastructure
################################################################################

# postgresql credentials and connections details 
POSTGRES_USER=quantuser
POSTGRES_PASSWORD=quantpassword
POSTGRES_DB=quantdatabase
POSTGRES_HOST=quanthost
POSTGRES_PORT=quantport

# alpha vantage API key
ALPHA_VANTAGE_API_KEY=alphavantagekey

# alpaca API key
ALPACA_API_KEY=alpacaapikey